@import "compass/css3";

.link {
	cursor: pointer;
}

.board {
	margin-left: 47px;
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 20px;
	/*width: 168vh;*/
	margin-right:190px;
}

#card1 {	
	background-color: #001f3f;
	color: white;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#card2 {	
	background-color: #0074D9;
	color: white;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#card3 {	
	background-color: #7FDBFF;
	color: white;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.header {
	margin-top: 0px;
}

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	font-family: "Lato", sans-serif;
}

#menubtn {
	margin-left:12px;
	float: left;
	position: fixed;
}


.sidenav {
    /*height: 100%;*/
	bottom: 10px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -200px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	margin-top: 10px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#menubtnR {
	margin-right:12px;
	float: right;
}

.sidenavR {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	margin-top: 10px;
	bottom: 10px;
}

.sidenavR a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
	text-align: right;	
}

.sidenavR a:hover {
    color: #f1f1f1;
}

.sidenavR .closebtnR {
    position: absolute;
    top: 0;
    font-size: 36px;
	left: 25px;
}

@media screen and (max-height: 450px) {
  .sidenavR {padding-top: 15px;}
  .sidenavR a {font-size: 18px;}
}


/*----------------------*/
/*------THE  MODAL------*/
/*----------------------*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    z-index: 50; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    /*left: 40vh;	
    top: 4vw;*/
    width: 65vw; 
    height: 75vh;
	overflow-y: hidden;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
	margin-top: 50px;
    display: block;
	width: 65vw;	
}

/*.modalHeader {
	/*display: none; /* Hidden by default 
	position: fixed;
}*/

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.modalDescription {
    margin: auto;
    display: block;
    width: 60vh;
	height: auto;
    /*max-width: 700px;*/
    text-align: center;
    color: white;
    padding: 10px 10px;
	font-family: "Lato", sans-serif;
	margin-bottom: 50px;
}

/* Add Animation - Zoom in the Modal */
.modal-content .modalDescription { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/*----------------------*/
/*--MODAL CLOSE BOTTON--*/
/*----------------------*/

.modal .closeModal {
	position: fixed;
	left: 160vh;
    color: #818181;
    font-size: 36px;
    transition: 0.3s;
	font-family: "Lato", sans-serif;
}

.modal .closeModal:hover, .closeModal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal .social-media{
    display: flex;
    justify-content: center;
}

.modalHeader {
	color: white;
	text-align: center;
	font-family: "Lato", sans-serif;
}